# Database & Cache
MONGODB_URI=mongodb://localhost:27017/securetalk
REDIS_URL=redis://localhost:6379/0

# Security Keys
DJANGO_SECRET_KEY=
TOTP_ENCRYPTION_KEY=
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Turnstile (Cloudflare)
TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=


# Email Settings (Mapped to match your settings.py)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
# The Gmail address and the 16-character 'App Password' created in Google Account settings.
EMAIL_HOST_USER=
EMAIL_HOST_PASSWORD=

# Admin Bootstrap
ADMIN_USERNAME=admin
ADMIN_EMAIL=JohnDoe@gmail.com
ADMIN_PASSWORD=Admin@SecureTalk1    
