# Database & Cache
MONGODB_URI=mongodb://localhost:27017/securetalk
REDIS_URL=redis://localhost:6379/0

# Security Keys
DJANGO_SECRET_KEY=ehQxHgMuGkEkdnVMsLtWKE5rLV7dtiLyLN6mlUl2XoI3broZZjwHimZcDJqw_0G8OoU
TOTP_ENCRYPTION_KEY=420dfafb4126ba45a441c2df8541afc0e8454b751d977fe0ad408ecf96869a72
DEBUG=True
ALLOWED_HOSTS=127.0.0.1,localhost

# Turnstile (Cloudflare)
TURNSTILE_SITE_KEY=0x4AAAAAAC2W6nsWvx3UiA71
TURNSTILE_SECRET_KEY=0x4AAAAAAC2W6oMackwLJg060xz9JQZ-Ihw


# Email Settings (Mapped to match your settings.py)
EMAIL_HOST=smtp.gmail.com
EMAIL_PORT=587
# The Gmail address and the 16-character 'App Password' created in Google Account settings.
EMAIL_HOST_USER=sudarshangirix789@gmail.com
EMAIL_HOST_PASSWORD=aubp hzux axlt panc

# Admin Bootstrap
ADMIN_USERNAME=admin
ADMIN_EMAIL=sudarshangirix789@gmail.com
ADMIN_PASSWORD=Admin@SecureTalk1    